.footer {
  height: auto;
  background-color: $background-color-2;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: $decoration-color-1 solid 1px;

  @media screen and (min-width: $screen-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 32px 24px 25px 24px;
  }

  @media screen and (min-width: $screen-wide) {
    padding: 32px 32px 21px 32px;
  }

  div {
    padding: 16px 4px 19px 4px;
    text-align: center;

    @media screen and (min-width: $screen-tablet) {
      padding: 0;
      width: 33.33%;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    p,
    a {
      font-family: $font-family;
      font-size: $font-size-1;
      line-height: $line-height-6;
      color: $text-color-2;
      opacity: 0.72;
    }

    a {
      text-decoration: none;
    }
  }
}
