.header-container {
  height: 88px;
  background-color: $background-color-1;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  @media screen and (min-width: $screen-wide) {
    display: none;
  }

  &__column {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
