.price-button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  height: 32px;
  min-width: 119px;
  padding: 4px 8px 4px 12px;
  gap: 8px;
  background: $decoration-color-4;
  border-radius: 16px;
  cursor: pointer;

  @media screen and (min-width: $screen-tablet) {
    position: unset;
  }

  &__value {
    font-family: $font-family;
    font-size: $font-size-5;
    line-height: $line-height-1;
    text-align: right;
    letter-spacing: $letter-spacing-4;
    text-transform: uppercase;
    color: $background-color-1;
    font-weight: 500;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
