.technic {
  &__slide {
    height: 160px;

    .repair__content {
      margin: 16px 0 0 16px;

      h3 {
        margin: 0;
        font-family: $font-family;
        font-size: $font-size-2;
        line-height: $line-height-1;
        letter-spacing: $letter-spacing-1;
        color: $text-color-1;
        font-weight: 500;
      }
    }

    button {
      align-self: flex-end;
    }
  }
}
