.technic {
  &__slide {
    height: 160px;
    width: 240px;

    @media screen and (min-width: $screen-tablet) {
      width: 224px;
    }

    @media screen and (min-width: $screen-wide) {
      width: 240px;
    }

    .repair__content {
      margin: 16px 0 0 16px;

      h3 {
        margin: 0;
        font-size: $font-size-2;
        line-height: $line-height-1;
        letter-spacing: $letter-spacing-1;
        color: $text-color-1;
        font-weight: 500;
      }
    }

    button {
      align-self: flex-end;
    }
  }
}
